<mat-card>
    <mat-card-actions>
        <button mat-raised-button routerLink="/peliculas/peliculas">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-header>
        <mat-card-title>{{pelicula.title}}</mat-card-title>
    </mat-card-header>
    <img [src]="pelicula.poster_path | imagen" alt="" class="img-card">
    <br>
    <h4>{{pelicula.release_date}}</h4>
    <mat-card-content>
        <mat-card-subtitle>{{pelicula.original_title}}</mat-card-subtitle>
    </mat-card-content>


</mat-card>